@page "/openaccount"

    <Container Class="py-3">
        <PageTitle>Open a new account</PageTitle>

        <div class="py-3">
            <OpenAccountForm></OpenAccountForm>
        </div>
    </Container>

@code {

}
